<header class="header">
  <div class="container header__container">
    <div class="header__logo">Furniutr.</div>
    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Collection</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__btns">
      <button class="cart btn-reset">
        <svg>
          <use xlink:href=img/sprite.svg#cart> </use> </svg> </button> <button class="search btn-reset">
            <svg>
              <use xlink:href=img/sprite.svg#search> </use> </svg> </button> </div> </div> </header>
