<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <div class="hero__subtitle">decorate home</div>
      <h1 class="hero__title">Feel your home
        with a&nbsp;modern design
        space
      </h1>
      <button class="hero__btn btn-reset btn-primary">Discover</button>
      <button class="hero__btn-watch btn-reset">Watch video</button>
      <img class="hero__left-grid" src="../img/hero-grid-bg.png" alt="">
    </div>
    <div class="hero__right">
      <img src="../img/hero.jpg" alt="cosmic design" class="hero__img">
    </div>
  </div>
</section>
